/* $ ====================================== tablets ====================================== */

@media (max-width: 992px) {
}

/* $ ====================================== celus ====================================== */

@media (max-width: 578px) {
  * {
    max-width: 99vw;
  }

  body {
    background-image: url(/assets/img/BACKGROUND__MOBILE.png);
    background-repeat: repeat-y;
  }

  body #about {
    background-image: none;
    width: 95vw;
  }

  body footer {
    background-color: var(--background);
    background-size: 100%;
  }

  /*! NAV */

  .navbar {
    width: 80vw;
  }

  .navbar__icon {
    display: none;
    width: 100px;
  }

  /* TODO */
  .navbar__list {
    display: none;
  }

  /*! HERO */
  #hero {
    /* min-width: ; */
    /* height: 70vh; */
    background-position: bottom center;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    padding: 65px 15px;
    gap: 45px;
  }

  .hero__content {
    position: relative;
    height: auto;
  }

  .hero__content h1 {
    font-size: 2rem;
    text-shadow: none;
    padding-top: 50px;
  }

  .hero__media-btn {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: sticky;
    top: 0;
  }

  .hero__btn-container {
    display: flex;
    gap: 25px;
  }

  .hero__media--btn {
    background-color: var(--purple);
  }

  .hero__media--btn:hover {
    transform: scale(1.02);
    background-color: #742df8;
  }

  .hero__media--btn2:hover {
    transform: scale(1.02);
    background-color: #2d6df8;
  }

  .hero__media--btn:hover,
  .hero__media--btn2:hover {
    transition: all 0.3s ease;
  }

  .hero__media--btn:active {
    background-color: #742df8;
    transform: scale(1.02);
  }

  .hero__media--btn2:active {
    background-color: #2d6df8;
    transform: scale(1.02);
  }

  .hero__media--btn:active,
  .hero__media--btn2:active {
    transition: all 0.1s ease;
  }

  /*! INFO */

  #info {
    padding: 25px;
    height: auto;
    gap: 25px;
    background-image: url(/assets/img/INFO_BACKGROUND.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 65%; */
    max-width: 578px;
  }

  .info__cards {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }

  .container {
    /* flex-wrap: wrap; */
    gap: 30px;
    padding: 12px 17px;
    margin: 10px 0;
    width: fit-content;
    height: 300px;
    background-image: url(/assets/img/cards/CARDS_BACKGROUND.png);
    border-radius: 30px 30px 30px 30px;
  }

  .container:hover,
  .container:active {
    box-shadow: 10px 10px 25px -3px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 10px 10px 25px -3px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 10px 10px 25px -3px rgba(0, 0, 0, 0.83);
  }

  .info__cards-text {
    font-size: 12px;
    max-width: 200px;
  }

  .info__cards-img {
    width: 180px;
    border-radius: 20px 20px 20px 20px;
  }

  .info__title h2 {
    font-size: 30px;
    font-weight: var(--font-bold);
  }

  /*! DESIGN */

  #design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
  }

  #design video {
    width: 96%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
  }

  /*! ABOUT */

  #about {
    height: auto;
    background-image: none;
  }

  .about__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80vw;
  }

  .about__info h2 {
    font-size: var(--font-md);
    font-weight: var(--font-black);
    text-transform: uppercase;
    width: 80vw;
  }

  .about__info p {
    font-size: var(--font-sm);
    font-weight: var(--font-light);
    width: 80vw;
  }

  .about__info .span__linux {
    color: var(--span-about);
  }

  .about__container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: auto;
    width: 80vw;
  }

  .about__container .about__img img {
    width: 75vw;
  }

  .about__img img:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    /* left: 0;
    bottom: 0; */
    /* z-index: 2; */
  }
  /* 
  .about__img::before,
  .about__img::after {
    z-index: 4;
  } */

  /*! CONTACT */

  .contact__container img {
    display: none;
    justify-content: center;
    align-items: center;
  }

  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 1200px;
    width: 80%;
    padding: 25px;
  }

  #contact h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: var(--font-bold);
  }

  .contact__container {
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: var(--font-extra-light);
    font-size: var(--font-sm);
  }

  .contact__container img {
    width: 450px;
    height: fit-content;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    /* height: 80%; */
  }

  input {
    border: 2px solid #fff;
  }

  footer {
    font-size: var(--font-s);
    width: 100%;
    overflow: hidden;
    text-overflow: clip;
  }

  .footer__container img {
    display: none;
  }
}
