/* $ ====================================== tablets ====================================== */

@media (max-width: 992px) {
}

/* $ ====================================== celus ====================================== */

@media (max-width: 578px) {
  * {
    max-width: 578px;
  }

  body {
    background-image: url(/assets/img/BACKGROUND__MOBILE.png);
    background-repeat: repeat-y;
  }

  /*! NAV */
  header {
    width: 100vh;
  }

  .navbar__icon {
    width: 100px;
  }

  /* TODO */
  .navbar__list {
    display: none;
  }

  /*! HERO */
  #hero {
    min-width: 300px;
    height: 98vh;
    background-position: bottom center;
    justify-content: first baseline;
    align-items: center;
    text-align: center;
    padding: 80px 15px;
    gap: 35px;
  }

  .hero__content h1 {
    position: static;
    font-size: 2rem;
    text-shadow: none;
    padding-top: 50px;
  }

  /*! INFO */

  #info {
    padding: 25px;
    height: auto;
    gap: 25px;
    background-image: url(/assets/img/INFO_BACKGROUND.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 65%; */
    max-width: 578px;
  }

  .info__cards {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }

  .container {
    /* flex-wrap: wrap; */
    gap: 30px;
    padding: 10px;
    width: 250px;
    height: 300px;
    background-image: url(/assets/img/cards/CARDS_BACKGROUND.png);
    border-radius: 100px 10px 100px 10px;
  }

  .info__cards-text {
    font-size: 12px;
    max-width: 200px;
  }

  .info__cards-img {
    width: 150px;
    border-radius: 60px 10px 60px 10px;
  }

  .info__title h2 {
    font-size: 30px;
    font-weight: var(--font-bold);
  }
}
