/* ! FORMAT */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;

  /* TODO */
  /* border: solid red 1px; */
}

:root {
  /* fuentes */
  --font-extra-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 800;

  --font-sm: 14px;
  --font-smd: 16px;
  --font-sd: 18px;
  --font-md: 32px;
  --font-xl: 48px;

  /* colores */
  --background: #020103;
  --text-white: #fff;
  --text-smgrey: #d0d0d0;
}

/* ? BODY */

body {
  color: var(--text-white);
  background-color: var(--background);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url(/assets/img/BACKGROUND__BODY.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: scroll;
}

a {
  color: var(--text-white);
}

/* ! ==================================== HEADER ==================================== */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 15px 100px 15px 25px;
  font-size: var(--font-smd);
  font-weight: var(--font-regular);
  color: var(--text-white);
  height: 70px;
  width: 100vw;

  /* TODO */
  max-width: 1400px;
}

.navbar::after {
  scroll-margin-bottom: 65px;
}
.navbar__icon {
  width: 150px;
  margin-top: 5px;
}

.navbar__list {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
}

.navbar__list li:nth-child(3) {
  font-size: var(--font-smd);
  font-weight: var(--font-bold);
}

/*! ==================================== MAIN ==================================== */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  max-width: 1000px;
}

.scroll__up,
.arrow__up a {
  position: fixed;
  bottom: 3px;
  right: 8px;
}

/*? ==================================== HERO ==================================== */

#hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95vw;
  height: 100vh;
  background-image: url(/assets/img/ROUNDEDBACKGROUND.png);
  background-size: 80%;
  background-position: top center;
  background-repeat: no-repeat;

  /* TODO */
  /* max-width: 1000px; */
}

.hero__content {
  position: sticky;
  top: 0;
  z-index: 2;
  max-width: 950px;
}

.hero__content h1 {
  font-size: 4.5rem;
  font-weight: var(--font-black);

  text-transform: uppercase;
  text-shadow: 4px 4px 0 #020103, 4px -4px 0 #020103, -4px 4px 0 #020103,
    -4px -4px 0 #020103, 4px 0px 0 #020103, 0px 4px 0 #020103,
    -4px 0px 0 #020103, 0px -4px 0 #020103;
}

.hero__content p {
  font-size: var(--font-sd);
  font-weight: var(--font-light);
  text-transform: none;
  text-shadow: 3px 3px 3px rgba(18, 0, 0, 1), -3px 0px 4px rgba(15, 0, 0, 1);
}

/*? ==================================== INFO ==================================== */

#info {
  padding: 50px;
}

/*? ==================================== DISEÑO ==================================== */

#design video {
  width: 100vw;
  height: 95vh;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
}

/* * ======================================================================================= * */
/* * ======================================================================================= * */
/* * ======================================================================================= * */
/* * ======================================================================================= * */
/* * ======================================================================================= * */
/* * ======================================================================================= * */
/* * ======================================================================================= * */
.info__cards {
  display: flex;
  gap: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 25px 15px;
  width: 350px;
  height: 400px;
  background-image: url(/assets/img/cards/CARDS_BACKGROUND.png);
  border-radius: 15px;
}

.info__cards-img {
  width: 200px;
  border-radius: 12px;
}
